.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease;

  .shopping-icon {
    transition: all 0.4s ease;
    width: 50px;
    height: 44px;
  }

  .item-count {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    bottom: 4px;
  }
}

.bg-sh {
  transform: scale(1.1);
}
